<!-- template that displays individual website entries -->
<template name="website_item">
  <li>
  	<a href="{{url}}">{{title}}</a>
  	<p>
  		{{description}}
  	</p>
    <p>
      Submitted by: {{createdBy}} on {{localTime createdOn}}
    </p>
  	<a href="#" class="btn btn-default js-upvote">
  		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true">{{upVote}}</span>
  	</a>
  	<a href="#" class="btn btn-default js-downvote">
  		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">{{downVote}}</span>
  	</a>
  	<!-- you will be putting your up and down vote buttons in here! -->
    <a href="/website/{{__originalId}}" role="button" class="btn btn-info">Comments: {{comments}}</a>
  </li>
</template>
